
upscale-breadcrumbs {

	width: 85%;
	margin: 0 auto;
	padding: 0;
	background-color: #f5f5f5;
	border-bottom: none;
}


.upscale-mobile :host {

}

.upscale-tablet :host {

}

.upscale-desktop :host {

}
