

:host {
	width: 85% !important;
	margin: 0 auto;
	padding: 0;
	background-color: #f5f5f5;
	border-bottom: none;
}

.upscale-mobile :host {

}

.upscale-tablet :host {

}

.upscale-desktop :host {
	.upscale-extra-large .image-carousel-static-size {
		height: 300px;
	}
	.static-height {
        height: 300px;
        width: 300px;		
	}
}
