
.upscale-mobile :host {
    .storybook-background {
        padding: 0;
    }
}

.upscale-tablet :host {
    .storybook-background {
        padding: 0;
    }
}

.upscale-desktop :host {
    .storybook-background {
        padding: 0;
    }
}